
.header__p {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
    overflow: hidden;
    transition: 0.5s;
    @media (max-width: 1050px) {
      flex-direction: column;
      position: absolute;
      left: -500px;
      top: 0;
    }
    &__item {
      position: relative;
      overflow: hidden;
      transition: 0.5s;
      @media (max-width: 1050px) {
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background: #ef7c00;
        width: 0;
        height: 0;
        transition: 0.5s;
      }
      &:hover::before {
        background: #ef7c00;
        width: 100%;
        height: 3px;
      }
      a {
        color: var(--color-text, #2c2d2e);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        transition: 0.3s;
        &:hover {
          color: var(--color-primary, #ef7c00);
          font-feature-settings: "clig" off, "liga" off;
        }
      }
    }
    &__border {
      width: 1px;
      height: 28px;
      background: rgba(0, 16, 61, 0.12);
      @media (max-width: 1050px) {
        width: 75%;
        height: 3px;
      }
    }
  }
  &__language {
    display: flex;
    align-items: center;
    gap: 8px;
    a {
      color: #919399;
      font-family: Montserrat;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 153.846% */
      transition: 0.3s;
      &:hover {
        color: #ef7c00;
      }
    }
  }
  .Darklight__btn {
    padding: 8px;
    border-radius: 15px;
    background: transparent;
  }
  .toggle {
    display: none;
     padding: 8px;
    border-radius: 15px;
    background: transparent;
    @media (max-width: 1050px) {
      display: block;
    }
  }
}

.DarkLight {
  background: #282727;
}
.DarkLight * {
  color: #fff !important;
}

.header__link__toggle {
  position: absolute;
  width: 50%;
  height: 100vh;
  border: 3px solid #888;
  background: #0000002b;
  backdrop-filter: blur(10px);
  transition: 0.5s;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
